<!-- NAVBAR-->

<nav class="navbar navbar-expand sticky-top" id="navbartop">

    <div class=" navbar-collapse ">
        <ul class="navbar-nav ml-lg-5 ml-5 ">
            <li class="nav-item ml-3">USD</li>
            <li class="nav-item ml-3">English</li>
            <li class="nav-item ml-3 ">
                <a class="nav-link p-0" href="http://joxi.ru/L21PewvHR3Ldbm">Help</a>
            </li>
        </ul>
        <ul class="navbar-nav  mr-5 ml-auto">
            <li class="nav-item row mr-3" data-toggle="modal" data-target="#exampleModal">
                <svg class=" icon mt-auto mb-auto"
                     height="12px"
                     viewBox="0 0 512.00025 512"
                     width="14px"
                     xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                            d="M 224 256 c 70.7 0 128 -57.3 128 -128 S 294.7 0 224 0 S 96 57.3 96 128 s 57.3 128 128 128 Z m 89.6 32 h -16.7 c -22.2 10.2 -46.9 16 -72.9 16 s -50.6 -5.8 -72.9 -16 h -16.7 C 60.2 288 0 348.2 0 422.4 V 464 c 0 26.5 21.5 48 48 48 h 352 c 26.5 0 48 -21.5 48 -48 v -41.6 c 0 -74.2 -60.2 -134.4 -134.4 -134.4 Z"
                    />
                </svg>


                <a href="#" class="nav-link p-0 mt-auto mb-auto mr-3" data-toggle="modal"
                   data-target="#exampleModal">Login</a>

            </li>
            <li class="nav-item row mr-3">
                <svg class=" icon mt-auto mb-auto"
                     height="13px"
                     viewBox="0 0 512.00025 512"
                     width="15px"
                     xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                            d="M 400 224 h -24 v -72 C 376 68.2 307.8 0 224 0 S 72 68.2 72 152 v 72 H 48 c -26.5 0 -48 21.5 -48 48 v 192 c 0 26.5 21.5 48 48 48 h 352 c 26.5 0 48 -21.5 48 -48 V 272 c 0 -26.5 -21.5 -48 -48 -48 Z m -104 0 H 152 v -72 c 0 -39.7 32.3 -72 72 -72 s 72 32.3 72 72 v 72 Z"
                    />
                </svg>
                <a href="#" class="nav-link p-0 mt-auto mb-auto" data-toggle="modal" data-target="#exampleModalone">Register</a>
            </li>
        </ul>

    </div>
</nav>
