<div class="container-fluid features mt-5">
    <div class="row features text-center align-items-center" >
        <div class="col-xs-12 col-md-3 col-lg-1 m-auto">
            <div class="features content">
                <i class="features icon"><img src="img/features/delivery%20icon.jpg"></i>
                <p class="contentline1">FREE SHIPPING</p>
                <p class="contentline2">all order</p>
            </div>
        </div>
        <div class="col-xs-12 col-md-3 col-lg-1 m-auto">
            <div class="features content">
                <i class="features icon"><img src="img/features/earphones%20icon.jpg"></i>
                <p class="contentline1">24/7 CASTOMER</p>
                <p class="contentline2">support</p>
            </div>
        </div>
        <div class="col-xs-12 col-md-3 col-lg-1 m-auto">
            <div class="features content">
                <i class="features icon"><img src="img/features/errow%20icon.jpg"></i>
                <p class="contentline1">MONEY BACK</p>
                <p class="contentline2">guarantee</p>
            </div>
        </div>
        <div class="col-xs-12 col-md-3 col-lg-1 m-auto">
            <div class="features content">
                <i class="features icon"><img src="img/features/voicе%20icon.jpg"></i>
                <p class="contentline3">MEMBER DISCOUNT</p>
                <p class="contentline2">first oredr</p>
            </div>
        </div>
    </div>
</div>
