<!--TOP MENU-->

<div class="menu row justify-content-center align-items-center mr-0 ml-0">
    <!--    секция поиска по сайту-->
    <form class="navbar-form">
        <input type="text" class="form-control pl-2 p-1" placeholder="Search products...">
        <button type="submit" class="search btn p-0 bg-light"><i class="fa fa-search"></i></button>
    </form>

    <!--секция навигации по сайту-->
    <nav class="navbar-expand-lg navbar-light  ml-auto mr-auto p-0 " id="NavbarResponsive">
        <button class="navbar-toggler bg-white m-auto" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse bg-white mt-auto mb-auto" >
            <ul class="navbar-nav navbar-left   mt-auto mb-auto font-weight-bold" >
                <li class="nav-item m-auto " >
                    <a class="nav-link pb-0 pr-1"  href="#href1">HOME</a>
                </li>
                <li class="two nav-item">
                    <a class=" nav-link pb-0 pr-1" href="#href2">SLIDER</a>
                </li>
                <li class="three nav-item">
                    <a class=" nav-link  pb-0 pr-1" href="#href3">FEATURES</a>
                </li>
                <li class="four nav-item">
                    <a class=" nav-link   pb-0 pr-1  " href="#href4">FEATURES</a>
                </li>
                <li class="five nav-item">
                    <a class=" nav-link  pb-0 pr-1 "  href="#href5">STOCK</a>
                </li>
                <li class="six nav-item">
                    <a class=" nav-link pb-0 pr-1" href="#href6">PRODUCTS</a>
                </li>
                <li class="seven nav-item">
                    <a class=" nav-link   pb-0 pr-1" href="#href7">GALLERY</a>
                </li>
                <li class="eight nav-item">
                    <a class=" nav-link   pb-0 pr-1" href="#href8">BLOG</a>
                </li>
            </ul>
        </div>
    </nav>
</div>