   <!-- banners  -->
   
   <div class="container-width">
        <section class="stocks">
            <article class="stocks-item stocks-grid-1">
                <a class="stocks-item-link" href="#">
                    <div class="stocks-item-img">
                    <img src="./img/STOCKS/1.jpg" alt="banner"></div>
                    <div class="stocks-item-cover">
                        <div class="stocks-item-text-wrapper stocks-link-1">
                            <h2 class="stocks-item-text-1 text-bold"> <span class="stocks-item-text-span">guest room</span><br> sofa
                            </h2>
                            <p class="stocks-item-discount">-20%</p>
                        </div>
                    </div>
                </a>

            </article>

            <article class="stocks-item stocks-grid-2">
                <a class="stocks-item-link item-2" href="#">
                        <div class="stocks-item2-img-wrapper">
                            <img class="stocks-item2-img1" src="./img/STOCKS/2.png" alt="banner">
                            <img class="stocks-item2-img2" src="./img/STOCKS/3.png" alt="banner">
                            <div class="stocks-link-2">
                                <h2 class="stocks-item-text"> <span class="text-bold"> office</span> chair <br /><span
                                        class="stocks-item2-text-span text-bold">collection</span></h2>
                                <p class="stocks-item-price text-bold">$200.00</p>
                            </div>
                        </div>
                        
                </a>
            </article>

            <article class="stocks-item stocks-grid-3">
                <a class="stocks-item-link item-3" href="#">
                        <div class="stocks-item3-img-wrapper">
                            <img class="stocks-item3-img1" src="./img/STOCKS/4.png" alt="banner">
                            <div class="stocks-link-3">
                                <h2 class="stocks-item-text-3"> <span class="text-bold"> special</span> collection
                                </h2>
                                <p class="stocks-item-add">save up 45% of furniture</p>
                            </div>
                        </div>
                        
                </a>
            </article>

    </section>


