 <!-- footer  -->

 <footer class="footer">

     <div class="container-lg ">
         <div class="row py-4">
             <section class="info-block mx-sm-auto mx-auto px-sm-3 col-5 col-md-3 p-0">
                 <article class="info-block-article h4 mb-3 mt-3">INFORMATION</article>
                 <div class="info-block-items d-flex flex-column">
                     <a href="#" class="info-block-link text-decoration-none">About us</a>
                     <a href="#" class="info-block-link text-decoration-none">Privacy</a>
                     <a href="#" class="info-block-link text-decoration-none">Conditions</a>
                     <a href="#" class="info-block-link text-decoration-none">Online support</a>
                 </div>
             </section>


             <section class="info-block  col-5 p-0 col-md-3 mt-3 ">
                 <article class="info-block-article h4 mb-3">MY ACCOUNT</article>
                 <div class="info-block-items d-flex flex-column">
                     <a href="#" class="info-block-link text-decoration-none">Login</a>
                     <a href="#" class="info-block-link text-decoration-none">My cart</a>
                     <a href="#" class="info-block-link text-decoration-none">Wishlist</a>
                     <a href="#" class="info-block-link text-decoration-none">Checkout</a>
                 </div>
             </section>


             <section class="info-block mx-sm-auto mx-auto px-sm-3 col-5 col-md-3 pl-0 mt-3">
                 <article class="info-block-article h4 mb-3">INFORMATION</article>
                 <div class="info-block-items d-flex flex-column ">
                     <a href="#" class="info-block-link text-decoration-none">Specials</a>
                     <a href="#" class="info-block-link text-decoration-none">New Products</a>
                     <a href="#" class="info-block-link text-decoration-none">Best Sellers</a>
                     <a href="#" class="info-block-link text-decoration-none">Our Stores</a>
                 </div>
             </section>

             <section class="info-block col-5 pl-0 col-md-3 mt-3">
                 <article class="info-block-article h4 mb-3">ORDERS</article>
                 <div class="info-block-items d-flex flex-column">
                     <a href="#" class="info-block-link text-decoration-none"><p>Payment options</p></a>
                     <a href="#" class="info-block-link text-decoration-none">Shipping and delivery</a>
                     <a href="#" class="info-block-link text-decoration-none"><p>Returns</p></a>
                     <a href="#" class="info-block-link text-decoration-none"><p>Shipping</p></a>
                     
                         <div class="row ml-0 mt-5">
                             <img src="../../img/cards/visa.png" class="pr-2 pt-2" alt="cards">
                             <img src="../../img/cards/master-card.png" class="pr-2 pt-2" alt="cards">
                             <img src="../../img/cards/dacover.png" class="pr-2 pt-2" alt="cards">
                             <img src="../../img/cards/paypal.png" class="pr-2 pt-2" alt="cards">
                             <img src="../../img/cards/blue-card.png" class="pr-2 pt-2" alt="cards">
                         </div>
                     </a>
                 </div>
             </section>
         </div>
     </div>







     <div class="footer-socialmedia py-4">
         <div class="container">
            <div class="row">
                <div class="d-none d-lg-block col-xl-4"> </div>
                <div class="col-12 col-md-7 col-xl-4 text-lg-right text-center mb-3 mb-md-0">
                    <p class="mx-sm-auto">&#169;Copyright 2016 Bazar | All Rights Reserved</p>
                </div>
                <div class="col-12 col-md-5 col-xl-4 ">
                    <div class="footer-socialmedia text-center text-lg-right ">
                        <a href="#" class="footer-socialmedia-link ml-3"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="footer-socialmedia-link ml-3"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="footer-socialmedia-link ml-3"><i class="fab fa-youtube"></i></a>
                        <a href="#" class="footer-socialmedia-link ml-3"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#" class="footer-socialmedia-link ml-3"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#" class="footer-socialmedia-link ml-3"><i class="fab fa-pinterest-p"></i></a>
                    </div>
                </div>
                
            </div>
         </div>
      
     </div>

 </footer>