 <!-- footer  -->
 
 <footer class="footer-container">

        <div class="container-width">
            <div class="info-block-wrapper">
                <section class="info-block">
                    <article class="info-block-article">INFORMATION</article>
                    <div class="info-block-items">
                        <a href="#" class="info-block-link">About us</a>
                        <a href="#" class="info-block-link">Privacy</a>
                        <a href="#" class="info-block-link">Conditions</a>
                        <a href="#" class="info-block-link">Online support</a>
                    </div>
                </section>


                <section class="info-block">
                    <article class="info-block-article">MY ACCOUNT</article>
                    <div class="info-block-items">
                        <a href="#" class="info-block-link">Login</a>
                        <a href="#" class="info-block-link">My cart</a>
                        <a href="#" class="info-block-link">Wishlist</a>
                        <a href="#" class="info-block-link">Checkout</a>
                    </div>
                </section>



                <section class="info-block">
                    <article class="info-block-article">INFORMATION</article>
                    <div class="info-block-items">
                        <a href="#" class="info-block-link">Specials</a>
                        <a href="#" class="info-block-link">New Products</a>
                        <a href="#" class="info-block-link">Best Sellers</a>
                        <a href="#" class="info-block-link">Our Stores</a>
                    </div>
                </section>

                <section class="info-block">
                    <article class="info-block-article">ORDERS</article>
                    <div class="info-block-items">
                        <a href="#" class="info-block-link">Payment options</a>
                        <a href="#" class="info-block-link">Shipping and delivery</a>
                        <a href="#" class="info-block-link">Returns</a>
                        <a href="#" class="info-block-link">Shipping</a>
                    </div>
                </section>
            </div>

        </div>

        <div class="footer-copyright">
            <div class="container-width">
                <p>&#169;Copyright 2016 Bazar | All Rights Reserved</p>
                <div class="footer-socialmedia">
                    <a href="#" class="footer-socialmedia-link"></a>
                    <a href="#" class="footer-socialmedia-link"></a>
                    <a href="#" class="footer-socialmedia-link"></a>
                    <a href="#" class="footer-socialmedia-link"></a>
                    <a href="#" class="footer-socialmedia-link"></a>
                    <a href="#" class="footer-socialmedia-link"></a>
                </div>
            </div>
        </div>
    </footer>
