<!--HEADER-->

<div class="top row justify-content-center align-items-center mr-0 ml-0">

    <img class="mr-0" src="img/header/phone%20icon.png" alt="">
    <a href="#" class="phone nav-link text-white mr-5">2300 - 3560 - 222</a>
    <img class="navbar-brand mr-5" src="img/header/bazar%20icon.png" alt="">
    <a href class="nav-link text-white" data-toggle="modal" data-target="#modal_1">
        <img class="nav-item" src="img/header/product%20buscet.jpg" alt=""/>0</a>
    <!--Всплывающее окно заказа с товаром-->

    <div class="modal fade" id="modal_1" tabindex="-1" role="dialog" aria-labelledby="modalLabel1">
        <div class="modal-dialog modal-dialog-centered modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close bg-dark" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="modalLabel1"></h4>
                </div>
                <div class="modal-body">

                    <div class="line1 row bg-white ">

                        <img class="purchase1 d-block mb-2" src="img/products/furniture/14.png">
                        <h4 class="line1_heading1">Sunbaby Magic Bear Chair</h4>

                    </div>
                    <div class="line2 row bg-white">

                        <img class="purchase2 d-block" src="img/products/furniture/12.png">
                        <h4 class="line1_heading1">Orange Chair</h4>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default-sm d-block mr-auto bg-secondary text-white" data-dismiss="modal"><img class="mr-1"src="src/img/header/icon%20errow.png">CONTINUE</button>
                        <button type="button" class="btn btn-default-sm d-block ml-auto bg-warning text-white" data-dismiss="modal"><img class="mr-1"src="src/img/header/icon%20bucket.png">BUY NOW</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>